<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Bridal Registry Website">
    <meta name="author" content="Rosy Rambani">
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">
            <%=title%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <%for(let i=0;i<nav.length;i++) {%>
                    <li class="nav-item active">
                        <a class="nav-link" href="<%=nav[i].link%>">
                            <%=nav[i].title%>
                        </a>
                    </li>
                    <%}%>
            </ul>
            <div class="btn-group" role="group">
                <a class="button btn btn-warning" href="blank_Bridal_Registry.pdf" target="_blank">Print Registry Form</a>
                <a class="button btn btn-danger" href="storelogout.php">Logout</a>
            </div>

        </div>
    </nav>
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url(img/couple.jpeg); transform: translate3d(0px, 0px, 0px);">
    </div>
    <div class="text-center">
        <form name="customerform" class="card form-registry" method="post" action="customerdata.php">
            <h2 class="form-title">Create Registry Account</h2>
            <div class="form-group row">
                <label for="bride" class="col-sm-2 col-form-label">Bride's Name:</label>
                <div class="col-sm-2">
                    <input type="text" name="bride" class="form-control" placeholder="Name of Bride" required autofocus>
                </div>
                <label for="groom" class="col-sm-2 col-form-label">Groom's Name:</label>
                <div class="col-sm-2">
                    <input type="text" name="groom" class="form-control" placeholder="Name of Groom" required>
                </div>
                <label for="weddingdate" class="col-sm-2 col-form-label">Date of Wedding:</label>
                <div class="col-sm-2">
                    <input type="Date" name="weddingdate" class="form-control" placeholder="Enter Wedding Date">
                </div>
            </div>

            <div class="form-group row">
                <label for="showersdate" class="col-sm-2 col-form-label">Date of Showers:</label>
                <div class="col-sm-2">
                    <input type="Date" name="showersdate" class="form-control" placeholder="Enter Showers Date">
                </div>
                <label for="phone" class="col-sm-2 col-form-label">Contact Number:</label>
                <div class="col-sm-2">
                    <input type="text" name="phone" class="form-control" placeholder="Enter Phone Number" required>
                </div>
                <label for="email" class="col-sm-2 col-form-label">Contact Email:</label>
                <div class="col-sm-2">
                    <input type="email" name="email" class="form-control" placeholder="Enter Contact Email">
                </div>
            </div>
            
            <div class="form-group row">
                <label for="registrydate" class="col-sm-2 col-form-label">Date of Registry:</label>
                <div class="col-sm-2">
                    <input type="Date" name="registrydate" class="form-control" placeholder="Enter Today's Date" required>
                </div>
                <label for="store" class="col-sm-2 col-form-label">Store of Registry:</label>
                <div class="col-sm-2">
                    <input type="text" name="store" class="form-control" placeholder="Enter Your Store Number" required>
                </div>
                <label for="employeename" class="col-sm-2 col-form-label">Registry Taken By:</label>
                <div class="col-sm-2">
                    <input type="text" name="employeename" class="form-control" placeholder="Enter Employee Name" required>
                </div>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" type="button" id="gencode" name="gencode" value="GENERATE REGISTRY CODE"
                onclick="showCode()">
                <a>GENERATE REGISTRY CODE</a>
            </button>
            <div class="form-group form-registry">
                <!-- <label for="registrycode">Please Give This Registry Code To The Customer</label> -->

                <textarea class="form-control" name="registrycode" id="registrycode" rows="1" readonly style="display: none;" required></textarea>

            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" name="submit" value="submit">
                <a>Create Registry</a>
            </button>

        </form>


    </div>
    <script type="text/javascript">
        if (document.getElementById("registrycode").value == '') {
            document.getElementById("submit").disabled = true;
        }

        function showCode() {
            var code = "<?php echo uniqid(); ?>";
            document.getElementById("registrycode").style.display = "block";
            document.getElementById("registrycode").value = code;
            document.getElementById("submit").disabled = false;
        }
    </script>
    <!-- <script type="text/javascript">
			function clearForm(){
				document.customerform.reset();
			}
		</script> -->
    <!-- Bootstrap jquery and js files -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D"
        crossorigin="anonymous"></script>
</body>

</html>